@model MvcPL.Models.User.UserProfileViewModel

@{
    ViewBag.Title = Model.Nickname;
}

@Styles.Render("~/Content/user_profile.css")

    <div class="user-profile-wrapper">

        <h4>Profile</h4>

        <div class="user-info">
           @if (Model.Avatar == null)
           {
                <img src="~/Content/Images/Avatars/default.png" alt="default_user_avatar">
           }
           else
           {
               // Hardcode
               string imageBase64 = Convert.ToBase64String(Model.Avatar);
               string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
               // Add custom style in css file
               <img src="@imageSrc" width="100" height="100" alt="@Model.Nickname avatar">
           }
           <p>Nickname: @Model.Nickname</p>
           <p>Email: @Model.Email</p>
        </div>
    </div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")