@model IEnumerable<MvcPL.Models.Post.PostViewModel>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <article>
        <h3>Title: @item.Title</h3>
        <p><bold>Description: </bold>@item.Description</p>
        <p><small>Posted by: @item.Author.Nickname (Id: @item.Author.Id)</small></p>
        <p><small>Number of likes: @item.NumberOfLikes</small></p>
        <p><small>Number of comments: @item.NumberOfComments</small></p>
        <p><small>Date: </small>@item.PublishDate</p>
        <div>
            Tags:
            @foreach (var tag in item.Tags)
            {
                <p>#@tag.Name</p>
            }  
        </div>
    </article>      
}

<p>
    @Html.ActionLink("Add new post", "Create")
</p>