@model MvcPL.Models.Tag.CreateTagViewModel
@{
    ViewBag.Title = "Create tag";
}
@Styles.Render("~/Content/create_tag.css")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="tag-post-form">
        <h4>Fill all fields to create a new tag.</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <strong>Name: <span>*</span></strong>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter hashtag...", required = "required" } })
            </div>
        </div>
        <div class="tag-create-button">
            <input type="submit" value="Submit">
            @Html.ActionLink("Back", "Index")
        </div>
    </div>
}
