@model MvcPL.Models.Post.CreatePostViewModel

@{
    ViewBag.Title = "Create post";
}

@Styles.Render("~/Content/create_post.css")
@Styles.Render("~/Content/select.css")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="create-post-form">
        <h4>Fill all fields to create a new post.</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <strong>Title: <span>*</span></strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter title...", required = "required" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>Description: <span>*</span></strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter text here...", required = "required" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.DropDownList("namesOfTags", (MultiSelectList)Model.TagList, new { multiple = "multiple" })
        @Html.ValidationMessageFor(m => m.SelectedTag)

        <div class="post-create-button">
            <input type="submit" value="Submit">
            <input type="button" value="Back" onclick="location.href='@Url.Action("Index", "Post")'">
        </div>

    </div>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")

