@model IEnumerable<MvcPL.Models.Post.PostViewModel>
@{
    ViewBag.Title = "Hashtag #" + ViewBag.TagName;
}
<div class="create-create-form">
    <h4>Search by #@ViewBag.TagName</h4>
</div>
@Styles.Render("~/Content/searchByTag")
@Styles.Render("~/Content/Fontawesome/css/font-awesome.css")
@Scripts.Render("~/bundles/like")
@if (Model == null)
{
    <div class="posts-not-found-by-tag">
        <p>No results.</p>
        @Html.ActionLink("Back", "Index")
    </div>
}
else
{
    foreach (var item in Model)
    {
        <article class="post">
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            @MvcPL.Helpers.TagListHelper.TagList(Html, item.Tags)
            <ul class="post-footer">
                <li><small>Posted by: @Html.RouteLink(item.Author.Nickname, "UserProfile", new { nickname = item.Author.Nickname })</small></li>
                <li>@MvcPL.Helpers.CommentsIndicatorHelper.CommentsIndicator(Html, item.NumberOfComments)</li>
                <li>@MvcPL.Helpers.LikeButtonHelper.LikeButton(Html, item.Id, item.NumberOfLikes, item.IsLiked)</li>
                <li><small>@Html.DisplayFor(modelItem => item.PublishDate)</small></li>
            </ul>
            <ul class="post-control-panel">
                <li>@Html.ActionLink("Read more", "Details", new { id = item.Id })</li>
                @if (Request.IsAuthenticated && User.IsInRole("admin"))
                {
                    <li>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                    <li class="delete-post-button">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</li>
                }
            </ul>
        </article>
    }
}
