<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="../../Content/Images/Icon/BatkaBatmen.png" type="image/png">
    <meta charset="utf-8">
    <title>@ViewBag.Title | Valchenko Blog</title>

    @Styles.Render("~/Content/new_elements.css")
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/home.css")
    @Styles.Render("~/Content/popup.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div id="header_container">
        <header>
            <div id="logo_container">
                <a href="index.html">
                    <img src="../../../Content/Images/Logo/batman_from_gomel.png" alt="valchenko_blog_logo">
                </a>
            </div>
            <nav id="responsive_nav">
                <ul>
                    <li><span><a href="#">HOME</a></span></li>
                    <li><span>@Html.RouteLink("PROFILE", "UserProfile", new { nickname = User.Identity.Name })</span></li>
                    <li><span>@Html.ActionLink("USERS", "Index", "User")</span></li>
                    <li><span>@Html.ActionLink("POSTS", "Index", "Post")</span></li>
                    <li><span>@Html.ActionLink("TAGS", "Index", "Tag")</span></li>
                    <li><span><a href="#">ABOUT</a></span></li>
                    <li><span><a href="#">GALLERY</a></span></li>
                    <li><span><a href="#">CONTACTS</a></span></li>
                </ul>
            </nav>
        </header>
        <footer id="responsive_footer" class="default-footer">
            <p><small>&copy; @DateTime.Now.Year</small></p>
            <p>
                <small>
                    <a href="#" title="Follow me on Facebook">Ilia Valchenko</a>
                </small>
            </p>
        </footer>
    </div>

    <article id="content_container">
        @RenderBody()
    </article>

    <div class="header-slogan">
        <h1 id="responsive_h1">Hi, @@@User.Identity.Name! Administrator mode. @Html.ActionLink("Log Out", "Logout", "Account")</h1>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>

</html>
