@model MvcPL.Models.Account.LoginViewModel
@{
    ViewBag.Title = "Login";
}
@Styles.Render("~/Content/login")
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="create-post-form">
        <h4>Log In.</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <strong>@Html.LabelFor(m => m.Nickname): <span>*</span></strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nickname)
                @Html.ValidationMessageFor(model => model.Nickname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <strong>@Html.LabelFor(m => m.Password): <span>*</span></strong>
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password, "")
            </div>
        </div>
        <div class="login-remember-checkbox">
            <label>
                @Html.EditorFor(model => model.RememberMe) Remember?
            </label>
            @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
        </div>
        <div class="post-create-button">
            <input type="submit" value="Log In">
        </div>
    </div>
}

