@model MvcPL.Models.Account.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-register", role = "form" }))
{
    <h4>Register:</h4>
   
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.LabelFor(m => m.Nickname, new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.Nickname, new { @class = "form-control", @placeholder = "Enter your nickname" })
    @Html.ValidationMessageFor(m => m.Nickname, null, new { @class = "text-danger" })

    @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your email" })
    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })


    @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Please enter your password" })
    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })


    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Please confirm password" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })

    @Html.LabelFor(m => m.Captcha, new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control", @placeholder = "Enter the code from the image" })
    @Html.ValidationMessageFor(m => m.Captcha, null, new { @class = "text-danger" })
    <div class="img-responsive">
        <img src="@Url.Action("Captcha", "Account")" alt="captcha" />
    </div>
    
    <button type="submit">Register</button>

    <p>
        Already have an account? Click here to return to login @Html.ActionLink("Login page", "Login")
    </p>
}